<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.miniproject_yogify">

    <uses-sdk tools:overrideLibrary="androidx.camera.camera2, androidx.camera.core,androidx.camera.view,androidx.camera.lifecycle" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries>

    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode,face,ocr,ica,custom_ica" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Yogify"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:replace="android:label">
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".PoseDetectStart"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Workout"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>